{% extends 'base.html' %}

{% block content %}

    <div>
        {% if public %}
            <h1>Tópicos Públicos</h1>
        {% else %}
            <h1>Meus Tópicos</h1>
            <a href="{% url 'learning_logs:create_topic' %}">Adicionar Tópico</a>
        {% endif %}
    </div>

    <div>
        <form method="get">
            <input type="text" name="q" placeholder="Buscar tópico..." value="{{ search }}">
        </form>
    </div>

    <div>
        {% for topic in topics %}
            <a href="{% if public %}{% url 'learning_logs:public_topic' topic.id %}{% else %}{% url 'learning_logs:topic' topic.id %}{% endif %}">{{ topic.title }}</a>
        {% empty %}
            <p>
                {% if search %}
                    Não foram encontrados resultados para: "{{ search }}"
                {% else %}
                    Ainda não há tópicos registrados
                {% endif %}
            </p>
        {% endfor %}
    </div>

    {% include 'pagination.html' with page_obj=topics %}

{% endblock %}