{% extends 'base.html' %}

{% block content %}

    <div>
        <h1>{{ topic.title }}</h1>
        {% if public %}
            <div>
                <p>Criado por: {{ topic.owner }}</p>
            </div>
        {% endif %}
    </div>

    <div>
        {% for entry in entries %}
            <p>{{ entry.date_created|date }}</p>
            <p>{{ entry.content }}</p>
            <hr>
        {% empty %}
            <p>Ainda não há registros para esse tópico</p>
        {% endfor %}
    </div>

{% endblock %}