{% extends 'base.html' %}

{% block content %}

    <div>
        <h1>{{ topic.title }}</h1>
        {% if public %}
            <div>
                <p>Criado por: {{ topic.owner }}</p>
            </div>
        {% else %}
            <div>
                <a href="{% url 'learning_logs:update_topic' topic.id %}">Editar Tópico</a>
                <form action="{% url 'learning_logs:delete_topic' topic.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Excluir Tópico</button>
                </form>
            </div>
        {% endif %}
    </div>

    <div>
        {% for entry in entries %}
            <p>{{ entry.date_created|date }}</p>
            <p>{{ entry.content }}</p>
            <hr>
        {% empty %}
            <p>Ainda não há registros para esse tópico</p>
        {% endfor %}
    </div>

{% endblock %}