<nav>
    <ul>
        <li>
            <a href="{% url 'index' %}">Learning Logs</a>
        </li>
        <li>
            <a href="{% url 'learning_logs:public_topics' %}">Tópicos Públicos</a>
        </li>
        {% if user.is_authenticated %}
            <li>Olá, {{ user }}</li>
            <li>
                <a href="{% url 'learning_logs:topics' %}">Meus Tópicos</a>
            </li>
            <li>
                <a href="{% url 'accounts:logout' %}">Sair</a>
            </li>
        {% else %}
            <li>
                <a href="{% url 'accounts:login' %}">Entrar</a>
            </li>
            <li>
                <a href="{% url 'accounts:signup' %}">Criar Conta</a>
            </li>
        {% endif %}
    </ul>
</nav>